<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
  </head>
  <body>
    <div class="pane">
      <h1>Catalog</h1>
      <a href="{{url_for('createCategory')}}"><h3>Create New Category</h3></a>
      <div class="flash">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
          <ul>
            {% for message in messages %}
            <li><strong> {{ messages }}</strong></li>
            {% endfor %}
          </ul>
          {% endif%}
        {% endwith %}
      </div>
      {% for category in categories %}
      <a href="{{url_for('showCategory', category_id=category.id)}}"><p>{{category.name}}</p></a>
      <p><a href = "{{url_for('editCategory',category_id=category.id)}}">Edit Category</a></p>
      <p> <a href = "{{url_for('deleteCategory',category_id=category.id)}}">Delete Category</a></p>
      {% endfor %}
    </div>
  </body>
</html>
