<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
  </head>
  <body>
    <h1>Are you sure you want to delete {{item.name}}?</h1>
    {% if 'username' not in session %}
    <a href="{{url_for('showLogin')}}">Login</a>
    {% else %}
    <a href="{{url_for('gdisconnect')}}">Logout</a>
    {% endif %}
    <form class="delete-form" action="{{url_for('deleteCategoryItem', category_id=item.category_id, item_id=item.id)}}" method="post">
      <input type="submit" name="" value="Delete">
      <a href="{{url_for('showCategory', category_id=category_id)}}">Cancel</a>
    </form>

  </body>
</html>
