<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
  </head>
  <body>
    <form class="" action="{{ url_for('editCategoryItem', category_id=category_id, item_id=item_id)}}" method="post">
      <p>Name:</p>
      <input type="text" size="30" name="name" placeholder="{{item.name}}" autofocus>
      <input type="submit" name="" value="Edit">
    </form>
    <a href="{{url_for('showCategory', category_id=category_id)}}">Cancel</a>
  </body>
</html>
