<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
  </head>
  <body>
    <div class="pane">
      <div class="header row">
        <h1>{{category.name}}</h1>
        <figure class="creator">
          <img class="creator-image" src="{{creator.picture}}" alt="Image of creator">
          <figcaption>{{creator.name}}</figcaption>
        </figure>
      </div>
      
      {% if 'username' not in session %}
      <a href="{{url_for('showLogin')}}">Login</a>
      {% else %}
      <a href="{{url_for('gdisconnect')}}">Logout</a>
      {% endif %}
      <a href="{{url_for('showAllCategories')}}">All Categories</a>
      <a href="{{url_for('createCategoryItem', category_id=category.id)}}">Create New Item</a>
      <div class="flash">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
          <ul>
            {% for message in messages %}
            <li><strong> {{ messages }}</strong></li>
            {% endfor %}
          </ul>
          {% endif%}
        {% endwith %}
      </div>


      {% for i in items %}
      <div class="item-card">
        <div class="row">
          <div class="col-md-4">
            <span class="name">{{ i.name }}</span>
          </div>
          <div class="col-md-8">
            <p class="description">{{ i.description }}</p>
          </div>
        </div>
        <div class="row">
          <div class="editdeletepane">
            <a href="{{url_for('editCategoryItem', category_id=category.id, item_id=i.id)}}">Edit</a>
            <a href="{{url_for('deleteCategoryItem', category_id=category.id, item_id=i.id)}}">Delete</a>
          </div>
        </div>

      </div>


      {% endfor %}
    </div>
  </body>
</html>
