<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
  </head>
  <body>
    <h1>New Category</h1>
    {% if 'username' not in session %}
    <a href="{{url_for('showLogin')}}">Login</a>
    {% else %}
    <a href="{{url_for('gdisconnect')}}">Logout</a>
    {% endif %}
    <form class="" action="" method="post">
      <p>Name:</p>
      <input type="text" size="30" name="name" required>
      <input type="submit" name="" value="Create">
    </form>
  </body>
</html>
