<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
  </head>
  <body>
    <div class="pane">
      <h1>New Item</h1>
      {% if 'username' not in session %}
      <a href="{{url_for('showLogin')}}">Login</a>
      {% else %}
      <a href="{{url_for('gdisconnect')}}">Logout</a>
      {% endif %}

      <form class="" action="{{ url_for('createCategoryItem', category_id=category_id)}}" method="post">
        <dl class="">
          <dt>Name:</dt>
          <dd><input type="text" size="30" name="name" autofocus required></dd>
          <dt>Description:</dt>
          <dd><textarea name='description' rows='5' cols='40'></textarea>
        </dl>
        <input type="submit" value="Create">
      </form>
      
    </div>
  </body>
</html>
