<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
  </head>
  <body>
    <div class="pane">
      <h1>Catalog</h1>
      <a href="{{url_for('showLogin')}}" class="">Login</a>
      <div class="flash">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
          <ul>
            {% for message in messages %}
            <li><strong> {{ messages }}</strong></li>
            {% endfor %}
          </ul>
          {% endif%}
        {% endwith %}
      </div>
      {% for category in categories %}
      <div class="item-card">
        <a href="{{url_for('showCategory', category_id=category.id)}}"><p class="name-category">{{category.name}}</p></a>
      </div>

      {% endfor %}
    </div>
  </body>
</html>
